.body {
  background-color: beige;
 }
  .contact-form {
    background-color: white;
    padding: 75px;
    margin: 20px;
    border-radius: 1em;
    border: 1.5px solid grey;
  }
    .about-me {
      background-color: white;
      padding: 75px;
      margin: 20px;
      border-radius: 1em;
      border: 1.5px solid grey;
      float:left;
 }
    .portfolio {
      background-color: white;
      padding: 75px;
      margin: 20px;
      border-radius: 1em;
      border: 1.5px solid grey;

  }
  .filler {
    background-color: beige;
    height: 225px;
  }
  .pic-me {
    height: 50px;
    width: 50px;
  }